body {
    background-color: #084d6e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#meuamor {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 25%; 
    margin-right: auto;
    width: 25%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(to right, #00d2ff, #3a7bd5);
}

 

#botoesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 20%;
    margin-left: 10%;
}

#botoesContainer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

#botoesContainer a:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

#botoesContainer a:active {
    color: #ffffff;
}

#botoesContainer a:active:after {
    background: transparent;
}

#botoesContainer a:hover:before {
    opacity: 1;
}

#botoesContainer a:hover {
    background-color: #222;
}

#botoesContainer a:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}